APP_NAME=Al-Mohannad
APP_ENV=local
APP_KEY=base64:nHcNsgLWowH/g0m0EY7FqRrDUV0pUhcW/0Duo3QfTpc=
APP_DEBUG=true
APP_URL=https://almohannad-api.multi-choice.com
MSEGAT_USERNAME=""
MSEGAT_USER_SENDER=""
MSEGAT_API_KEY=""
MSEGAT_SEND_MESSAGE_API_ENDPOINT=""

LOG_CHANNEL=daily
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=purpleapi_purpleapi
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

JWT_SECRET=OZpC1vaZYrgGVeaL1JTA4Lto6eBrUEgJIWx9F5YhrmcLdTRfsFAgtd5TBCxi7BQ3

# Telescope
TELESCOPE_ENABLED=true
TELESCOPE_PATH=admin/purpleTelescope
TELESCOPE_DRIVER=database
# Telescope DB
TELESCOPE_DB_CONNECTION=telescope
TELESCOPE_DB_HOST=127.0.0.1
TELESCOPE_DB_PORT=3306
TELESCOPE_DB_DATABASE=purple_telescope
TELESCOPE_DB_USERNAME=root
TELESCOPE_DB_PASSWORD=

# HYPERPAY Common
HYPERPAY_TEST_MODE=false
HYPERPAY_CURRENCY=SAR
HYPERPAY_PAYMENT_TYPE=DB

# Test Environment
HYPERPAY_TEST_ACCESS_TOKEN=OGFjN2E0Yzk5MGZjNmQwYzAxOTBmZGU1YTU1YzAwYjl8cXREQTR6SGd3Szc2MkoycQ==
HYPERPAY_TEST_ENTITY_ID_STCPAY=8ac7a4c990fc6d0c0190fde7bcfa00bd
HYPERPAY_TEST_ENTITY_ID_VISA_MASTERCARD=8ac7a4c990fc6d0c0190fde7bcfa00bd
HYPERPAY_TEST_ENTITY_ID_MADA=8ac7a4c990fc6d0c0190fde8ce7e00c1
HYPERPAY_TEST_BASE_URL=https://eu-test.oppwa.com/

# Live Environment
HYPERPAY_ACCESS_TOKEN=OGFjZGE0Yzg5MWUwODY5NzAxOTIxZGYwZjgyYTFmZGF8P3J5azliNCVwejUlNDlkQ0x4QUs=
HYPERPAY_ENTITY_ID_STCPAY=
HYPERPAY_ENTITY_ID_VISA_MASTERCARD=
HYPERPAY_ENTITY_ID_MADA=
HYPERPAY_BASE_URL=

# Swagger Configuration
L5_SWAGGER_GENERATE_ALWAYS=true
L5_SWAGGER_GENERATE_YAML_COPY=true
L5_SWAGGER_CONST_ADMIN_HOST=http://almohannad-backend.test/api/admin/v1
L5_SWAGGER_CONST_SALES_REP_HOST=http://almohannad-backend.test/api/salesRep/v1

